/*12*/
div.main-wrapper > p {
    background-color: brown;
}

/*1*/
h2 {
    background-color: red;
}

/*2*/
h2 + p {
    background-color: orange;
}

/*10*/
.another-paragraph {
    background-color: yellow;
}

/*100*/
#paragraph {
    background-color: green;
}

/*12*/
div p:nth-child(5) {
    background-color: dodgerblue;
}

/*2*/
section p {
    background-color: blue;
}

/*23*/
div.main-wrapper > div > p:first-child {
    background-color: purple;
}

/*11*/
a[href$="=jpg"] {
    background-color: plum;
}

/*2*/
div > a {
    background-color: pink;

    text-decoration: none;
    color: black;
}
